* {
	box-sizing: border-box;
}
body {
	color: #777777;
}

header {
	width: 100%;
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
	height: 90px;
	overflow: auto;
}

#mainHeading {
	margin-left: 160px;
	text-align: center;
	padding: 30px 30px 30px 30px;
	float: left;
	background-color: #4aaaa5;
	color: white;
	font-size: 200%;
}

#siteNav {
	margin-right: 240px; 
	float: right;
	overflow: hidden;
}

#socialMediaHeading {
	font-size: 150%;
	border-bottom: 3px solid #dddddd;
	padding-bottom: 20px;
}

li {
	float: left;
	margin-top: 30px;
	padding-right: 20px;
	padding-left: 20px;
	border-right: 1px solid #dddddd;
}

li a{
	display: inline-block;
	color: #777777;
	text-decoration: none;
}

#aboutMe {
	margin: 40px 40px 40px 160px;
	padding-left: 30px;
	padding-top: 40px;
	padding-right: 30px;
	clear: both;
	float: left;
	background-color: #ffffff;
	border: 1px solid #ffffff;
	overflow: auto;
	width: 650px;
}

#secondHeading {
	padding-bottom: 30px;
	font-size: 200%;
	border-bottom: 4px solid #dddddd;
}

img.aboutMeContent {
	float: left;
	padding-top: 30px;
}
p.aboutMeContent {
	float: left;
	padding-top: 30px;
}

.socialMediaIcons {
	padding-top: 20px;
	width: 30%;
	height: 20%;
}

#socialMedia {
	float: left;
	padding: 30px 40px 25px 30px;
	margin-top: 40px;
	margin-right: 240px; 
	background-color: #ffffff;
	overflow: auto;
	width: 270px;
}

h1, h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;;
}

h2, h3 {
	color: #4aaaa5;
}

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

main {
	height: 100vh;
	background-image: url(../images/natural_Paper.png);
	min-width: 960px;
}

footer {
	border-top: 10px solid #4aaaa5;
	clear: both;
	width: 100%;
	background-color: #666666;
	height: 80px;
	text-align: center;
	padding-top:30px;
	padding-bottom: 40px;
	color: #9bb0bb;
	position:fixed;
    bottom: 0;
}
 
